// BACKGROUND COLOR //
$bgColorPrimary: rgba(23, 195, 225, 0.5);
$bgColorSecondary: rgba(0, 0, 0, 0.95);
$bgColorTertiary: rgba(0, 0, 0, 0.9);
$bgColorQuaternary: #123E07;
$bgColorQuinary: #303030;


// VARIABLES FONTS //
$fontPrimary: 'Gabriela', serif;;
$fontSecondary: Philosopher;
// FONT COLOR
$fontColorPrimary: #fff;
$fontColorSecondary: #BFBFBF;
$fontColorTertiary: #000;
$fontColorQuaternary: #0055FF;
$fontColorQuinary: #144807;
// FONT WEIGHT
$fontWeightSmall: 500;
$fontWeightRegular: 600;
// FONT SIZE
$fontSizeTertiary: 13px;
$fontSizeQuinary: 12px;
$fontSizeSenary: 14px;
$fontSizeSeptenary: 22px;


//  VARIABLES BORDER //
$borderSolidSmall: 1px solid;
$borderSolidRegular: 2px solid;
// BORDER RADIUS
$borderRadiusSmall: 20px;
$borderRadiusLarge: 50%;
// BORDER COLOR
$borderColorPrimary: #c4c4c4;
$borderColorSecondary: #144807;
$borderColorTertiary: #FFFFFF;
$borderColorQuaternary: #ACACAC;


// VARIABLES MARGIN //
$marginPrimary: 15px;
$marginPage: 30px;
// VARIABLES PADDING


// VARIABLES ICONS //
$incoPrimaryColor: #fff;
$iconSecondaryColor: #000;

// VARIABLES WIDTH //
$maxWidthPrimary: 100vw;
$maxWidthSecondary: 90vw;

// VARIABLES HEIGHT //
$maxHeightPrimary: 100vh;
$maxHeightSecondary: 90vh;

// VARIABLES TRANSITION //
$transitionPrimary: .5s;
$transitionSeconary: 1s;
$transitionTertiary: 2s;

// VARIABLES BUTTON //
$buttonPrimary: #0055FF;
$buttonSecondary: #32528E;
$buttonTertiary: #C2C2C2;
$buttonGreen: #3e990f;
// BUTTON WIDTH
$buttonBoxWidth: 300px;
// BUTTON HEIGTH
$buttonBoxHeigth: 40px;
// FONT SIZE BUTTON
$buttonFontSmall: 1.2em;

// VARIABLES INPUT
$inputBoxWidth: 300px;
$inputBoxHeigth: 40px;
$inputWidth: 230px;
$inputHeigth: 30px;